.wjRoot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Typography */
.wjRoot h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: -0.15rem;
  line-height: 1.125;
  text-align: center;
}

/* Sections */
.wjHero,
.wjOutro,
.wjAbout {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wjHeroImg,
.wjOutroImg {
  position: relative;
  width: 300px;
  aspect-ratio: 5/7;
  overflow: hidden;
}

/* Services (pinned area) */
.wjServices {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wjServicesHeader {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  background-color: #1a1a1a;
  will-change: transform;
  height: 30svh;
}

.wjServicesHeader :global(img) {
  object-fit: contain;
}

.wjServicesHeader:nth-child(1),
.wjServicesHeader:nth-child(3) {
  transform: translateX(100%) translateY(0%);
}

.wjServicesHeader:nth-child(2) {
  transform: translateX(-100%) translateY(0%);
  z-index: 2;
}

.wjServicesCopy {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 155svh;
  padding: 2rem 2rem 25svh 2rem;
  text-align: center;
}

/* Text reveal */
.wjAnimateText {
  position: relative;
  width: 60%;
  margin: 0 auto;
  color: #4f4f4f;
  --clip-value: 100%;
}

.wjAnimateText::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  clip-path: inset(0 0 var(--clip-value) 0);
  will-change: clip-path;
}

@media (max-width: 1000px) {
  .wjRoot h1 {
    font-size: 2rem;
    letter-spacing: -0.05rem;
  }

  .wjAnimateText {
    width: 100%;
  }
}