@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque Variable", system-ui, sans-serif;
}

/* Copy (line reveal) */
.line{
  display:block;           /* <- aggiungi */
  position:relative;
  transform:translateY(100%);
  will-change:transform;
  padding-bottom:0.2em;
  margin-bottom:-0.2em;
}