@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque Variable", system-ui, sans-serif;
}

/* Copy (line reveal) */
.line{
  display:block;           
  position:relative;
  transform:translateY(100%);
  will-change:transform;
  padding-bottom:0.2em;
  margin-bottom:-0.2em;
}

/* hero section */

.hero .hero-content {
  position: absolute;
  top: 50svh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--base-100);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.hero .hero-tagline {
  width: 40%;
  color: var(--base-200);
}

span.spacer {
  display: inline-block;
  width: 20rem;
}

/* Ogni linea sta dentro un contenitore che maschera l'overflow */
.line {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  overflow: hidden;
  will-change: transform;
}
