@import "tailwindcss";
/* Lenis base styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* evita smooth CSS che litiga con Lenis */
html { scroll-behavior: auto !important; }

/* micro-ottimizzazioni GPU */
.hs-track { will-change: transform; transform: translate3d(0,0,0); }
.hs-card  { backface-visibility: hidden; transform: translateZ(0); }